footer
  
  //Import scripts
  script(type='text/javascript' src='/scripts/jquery.min.js')
  script(type='text/javascript' src='/scripts/bootstrap.min.js')
  script(type='text/javascript' src='/scripts/typed.min.js')
  //Import own scripts
  script(type='text/javascript' src='/scripts/typing.js')
  script(type='text/javascript' src='/scripts/general.js')
  script(type='text/javascript' src='/scripts/basicinfo.js')
