html
  html
  head
    title= title+' | Feragon'
    //Import stylesheets
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    //Import own stylesheets
    link(rel='stylesheet', href='/stylesheets/main.css')
  
  body#indexBody(style='background-image: ulr("images/mainbgn/background1.jpeg"')
    h2.text-right Curriculum Vitae
    .titleText
      h1 FERAGON
      p aka Fernando Gonzalez
      .selfTyping
    .container.text-right
      a(href='basicInfo')
        img.navbtn(src='images/resumenBtn.png')
      a(href='skills')
        img.navbtn(src='images/skillsBtn.png')
      a(href='#')
        img.navbtn(src='images/portfolioBtn.png')
  
  include footer