/*******************************************Upload video styles****************************************************/

#videoInfo{
  display: none;
}

#youtube {
  margin-top: 150px;
  display: none;
}

#vimeo {
  margin-top: 150px;
  display: none;
}

#youtubeButton{
  width: 150px;
  height: 150px;
  background-image: url('/resources/youtubeIcon.png');
  background-size: 100%;
  background-color: white;
  background-repeat: no-repeat;
}

#vimeoButton{
  width: 150px;
  height: 150px;
  background-image: url('/resources/vimeoIcon.png');
  background-size: 100%;
  background-color: white;
  background-repeat: no-repeat;
}